* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --GREEN: hsl(75, 94%, 57%);
  --WHITE: hsl(0, 0%, 100%);
  --GREY: hsl(0, 0%, 20%);
  --DARKGREY: hsl(0, 0%, 12%);
  --OFFBLACK: hsl(0, 0%, 8%);
}

body {
  background-color: var(--OFFBLACK);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

main {
  background-color: var(--DARKGREY);
  text-align: center;
  color: var(--WHITE);
  border-radius: 0.5rem;
  padding: 3rem;
  max-width: 430px;
}

main img {
  border-radius: 50%;
  max-width: 75px;
  margin-top: 2rem;
}

main h2 {
  margin-top: 1.75rem;
  font-size: 1.75rem;
}

main .where {
  color: var(--GREEN);
  margin-top: 0.5rem;
  font-weight: 700;
}

main .job {
  margin: 1.75rem 1rem 0 1rem;
}

main ul {
  margin-top: 1.75rem;
}

main ul li:not(:last-child) {
  margin-bottom: 1rem;
}

main ul li a {
  display: block;
  width: 100%;
  padding: 1rem;
  font-weight: 600;
  background-color: var(--GREY);
  color: var(--WHITE);
  border-radius: 0.5rem;
}

main ul li a:hover {
  background-color: var(--GREEN);
  color: var(--OFFBLACK);
}
